.user{
	color:#f00;
}

.bom-list .floder{
	margin-top:10px;
}

.bom-list .floder span{
	font-weight:bold;
}
.bom-list .floder .badge{
	margin-left:5px;
	background-color:#ddd;
	color:#666;
	font-weight:normal;
}

.bom-list .arrow{
	margin-right:5px;
	color:#ddd;
}


.bom-list .file span{
	
}

.bom-list .file i{
	margin-left:10px;
	background-color:#DFF0D8;
	font-weight:normal;
	color:#3c763d;
}